<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.S. Economic Stability Map</title>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <h1>U.S. Economic Stability - State by State</h1>
    </header>

    <main>
        <section>
            <p>These maps showcase the unemployment rates for October 2024 and December 2024.</p>
            <p>We will continue to compare rates as the data is made available. </p>
        </section>
        <section class="map-container">
            <iframe src="{{ url_for('static', filename='eco_map_2.html') }}"></iframe>
            <iframe src="{{ url_for('static', filename='eco_map_1.html') }}"></iframe>
        </section>
        <section>
            <h2>U.S. DOE Reductions Worse Case 100% - State by State</h2>
            <p>If the Department of Education is eliminated the number of entry level teachers that will need to be terminated are as follows.</p>
            <p>Reminder that the values need to be mulitplied by 1000 to get number of teachers lost. </p>
        </section>
        <section class="map-container">
            <iframe src="{{ url_for('static', filename='edu_map.html') }}"></iframe>
        </section>
    </main>

    <footer>
        <p>2024 U.S. Economic Data Visualization by Vardragon </P>
            <p>Data source: <a href="https://fred.stlouisfed.org/series/GDP" target="_blank">FRED - U.S. GDP</a></p>      
            <p><a href="https://edlawcenter.org/" target="_blank">Education Law Center</a></p>
    </footer>
</body>
</html>
    