<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>U.S. Economic Stability Map</title>
    </head>
    <body>
        <h2> U.S. Economic Stability - State by State </h2>
        <div>
            <iframe src="map_unemp.html" width="100%" height="600"></iframe>
        </div>

        <h2> U.S. DOE Reductions Worse Case 100% - State by State </h2>
        <div>
            <iframe src="doe-worse.html" width="100%" height="600"></iframe>
        </div>
    </body>
    </html>
    